@(pagedList: io.ebean.PagedList[AdminEntity], filter: String)

@table_header = {
    <tr>
        <th>@Messages("admin.list.001")</th>
        <th>@Messages("admin.list.006")</th>
        <th>@Messages("admin.list.002")</th>
        <th>@Messages("admin.list.004")</th>
        <th>@Messages("admin.list.009")</th>
        <th>@Messages("admin.list.005")</th>
        <th>@Messages("admin.list.007")</th>
        <th>@Messages("admin.list.012")</th>
    </tr>
}

@table_content = {
    @if(pagedList != null) {
        @for(entity <- pagedList.getList) {
            <tr>
                <td><span>@entity.adminId</span></td>
                <td><span>@entity.activeStatus</span></td>
                <td><span>@entity.adminType</span></td>
                <td><span>@entity.name</span></td>
                <td><span>@entity.nameKana</span></td>
                <td><span>@entity.email</span></td>
                <td><span>@entity.branch</span></td>
                <td><span>...</span></td>
            </tr>
        }
    }
}

<div id="search_detail" class="modal-content">
    <table width="100%">
        <tbody>
            <tr><td align="right" height="45px">@views.html.navigator_panel(pagedList)</td></tr>
            <tr>
                <td align="center">
                    <table width="99%" border="1">
                        <thead>@table_header</thead>
                        <tbody>@table_content</tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" height="45px">
                    <div align="center"><span>略（@pagedList.getList.size() 件並べる）</span></div>
                </td>
            </tr>
            <tr><td align="right" height="45px">@views.html.navigator_panel(pagedList)</td></tr>
        </tbody>
    </table>
</div>
<div>
    <input id = "filter" type="hidden" value="@filter">
    <input id = "page" type="hidden" value="@pagedList.getPageIndex()">
</div>