html {
    background:white;
}

h1 {
    padding: 0.4em 1.1em;
    color: yellow;
    font-weight: normal;
    font-size: 24px;
}

th {
    align-content: center;
}

.header {
    background: rgba(58,58,58,0.7);
}

.menu {
    background: cadetblue;
    width: 200px;
}

.main-content {
    width: 100%;
    margin-top: 10px;
}

.input-text {
    margin-top: 5px;
    margin-bottom: 5px;
}
